@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR SCHEME: Material3 Design Kit */
@layer base {
  :root {
    --background: 231, 17%, 92%;
    --background-secondary: 216, 56%, 98%;
    --foreground: 214, 12%, 11%;
    --foreground-variant: 218, 8%, 28%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-secondary: 240, 24%, 94%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 213, 42%, 39%;
    --accent-secondary: 218, 100%, 91%;
    --accent-foreground: 211, 100%, 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --sidebar: 233, 44%, 96%;
    --sidebar-secondary: 240, 24%, 94%;
  }

  .dark {
    --background: 218, 9%, 17%; /*  md-sys-color-surface-container-high */
    --background-secondary: 220, 8%, 15%; /* md-sys-color-surface-1 */
    --foreground: 0, 0%, 89%; /* md-sys-color-on-surface */
    --foreground-variant: 140, 3%, 77%; /* md-sys-color-on-surface-variant */
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 220, 8%, 7%;
    --popover-secondary: 214, 11%, 13%; /* md-sys-color-surface-container */
    --popover-foreground: 230, 14%, 42%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 213, 11%, 45%;
    --muted: 217, 7%, 21%;
    --muted-hover: 236, 19%, 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 215, 98%, 82%; /* md-sys-color-primary */
    --accent-secondary: 212, 58%, 29%; /* md-sys-color-primary-container */
    --accent-foreground: 218, 100%, 91%; /* md-sys-color-on-primary-container */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240, 16%, 9%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --sidebar: 214, 12%, 11%; /* md-sys-color-surface-container-low */
    --sidebar-secondary: 214, 11%, 13%; /* md-sys-color-surface-container */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-sidebar rounded-md;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: hsl(var(--muted-hover));
  }
}

.emoji {
  width: 20px;
  height: 20px;
}

.DraftEditor-root {
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  resize: none;
}
.public-DraftEditor-content,
.BREAK_WORDS {
  white-space: break-spaces !important;
  text-align: left;
  word-break: break-word;
}
